[*]
indent_style = tab
indent_size = 4

[*.asm]
indent_style = space
indent_size = 10

[*.c]
indent_style = space
indent_size = 4

[*.{cc,cpp,h}]
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
